<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" user-scalable=no>
        <title>{% block title %}Bcning{% endblock %}</title>
        {% block stylesheets %}
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Bcning</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">

                    {% block navbar %}
                    <div>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <p class="navbar-text navbar-right">
                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                            <a href="{{ path('fos_user_security_logout') }}" class="navbar-link">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </p>
                        {% else %}
                        <p class="navbar-text navbar-right">
                            <a href="{{ path('fos_user_registration_register') }}" class="navbar-link">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                        </p>

                        <p class="navbar-text navbar-right">
                            <a href="{{ path('fos_user_security_login') }}" class="navbar-link">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        </p>
                        {% endif %}
                    </div>
                    {% endblock %}

            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container body-container relative-map">
                {% block body %}{% endblock %}
    </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
